/* Color Theme Swatches in Hex */
{ color: #10454F; }
{ color: #506266; }
{ color: #818274; }
{ color: #A3AB78; }
{ color: #BDE038; }

/* Small Screen Styles */ 
@media screen and (min-width: 400px) {


body {
    background: rgb(63,94,251);
    background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 13rem;
}

h1 {
    color: #ffffff;
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 3em;
    font-family: Dosis;
}

#para {
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

#myInput {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 6rem;
    border-style: none;
    margin-bottom: 1rem;
}

#button {
    background-color: #fc466b;
    border-style: none;
    border-radius: 1rem;
    color: #ffffff;
    font-family: Dosis;
    font-size: 1em;
    padding: 7px 20px 7px 20px;
    margin-bottom: 2.5rem;
}

#button:hover {
    background-color: #3f5efb;
    color: #ffffff;
}

#demo {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-top: 5px;
}
}

/* Large screen styles */
@media screen and (min-width: 800px) {
body {
    background: rgb(63,94,251);
    background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 9rem;
}

h1 {
    color: #ffffff;
    max-width: 100%;
    margin-bottom: .50rem;
    font-size: 5em;
    font-family: Dosis;
}

#para {
    color: #ffffff;
    font-size: 2em;
    font-family: Roboto;
    margin-bottom: 2rem;
}

#myInput {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 8rem;
    height: 1.5rem;
    border-style: none;
    margin-bottom: 1.5rem;
}

#button {
    background-color: #fc466b;
    border-style: none;
    border-radius: 15px;
    color: #ffffff;
    font-family: Dosis;
    font-size: 1em;
    padding: 7px 20px 7px 20px;
    margin-bottom: 5px;
}

#button:hover {
    background-color: #3f5efb;
    color: #ffffff;
}

#demo {
    color: #ffffff;
    font-family: Dosis;
    font-size: 2em;
    margin-top: 1.5rem;
}

}

/*
## Create seperate color themes for each selection.

## Create mobile breakpoints.
## Create Tablet breakpoints.
## Create large screen breakpoints.

## Create better font families.

## Create a different pointer on hover.
## Create a different button color on hover.
*/